<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в админ панель</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header-content">
            <h1><i class="fas fa-lock"></i> Авторизация</h1>
        </div>
    </div>
</header>

<main class="container">
    <div class="login-container">
        <!-- Показ ошибки, если есть -->
        <div th:if="${error}" class="error-message">
            <i class="fas fa-exclamation-triangle"></i>
            <span th:text="${error}"></span>
        </div>

        <form id="loginForm" th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required
                       placeholder="Введите логин">
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required
                       placeholder="Введите пароль">
            </div>

            <button type="submit" class="login-btn">
                <i class="fas fa-sign-in-alt"></i> Войти
            </button>
        </form>
        <div class="register-link">
            Нет аккаунта?
            <a href="/register" class="register-link-btn">
                <i class="fas fa-user-plus"></i> Зарегистрироваться
            </a>
        </div>

        <a href="/" class="back-link">
            <i class="fas fa-arrow-left"></i> Вернуться на главную
        </a>
    </div>
</main>
</body>
</html>